.modal-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
}

.modal-loading .page {
    display: inline-block;
    width: 100px;
    height: 7px;
    background: #172b4d;
    border-radius: 3px;
    z-index: 5;
}

.modal-loading .middle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    z-index: 9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.modal-loading .left {
    position: relative;
    z-index: 9;
}

.modal-loading .right:before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 5px;
    background: #172b4d;
    position: absolute;
    transform-origin: 0% 50%;
    animation: rotate-right .8s infinite;
    z-index: 3;
}

.modal-loading .right:after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 5px;
    background: #172b4d;
    position: absolute;
    transform-origin: 0% 50%;
    animation: rotate-right .8s .3s infinite;
    z-index: 3;
}

.modal-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.middle {
    width: 10px;
    height: 100px;
    background-color: gray;
}

@keyframes rotate-right {
    0% {
        transform: rotate(-2deg);
        background: #1185e0;
    }

    100% {
        transform: rotate(-180deg);
        background: #11cdef;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}