.clickable-row {
  cursor: pointer;
}

.img-custom {
  width: 130px;
  height: auto;
}

.label {
  font-weight: bold;
  color: #6c757d;
}

.star-btn {
  border-radius: 50%;
  margin-right: 5px;
  padding: 0.5rem 0.75rem;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateY(-25%);
}

.modal.show .modal-dialog {
  transform: translateY(0);
}

.modal-backdrop.show {
  opacity: 0.5;
}

.customized-card {
  cursor: 'pointer';
  min-height: '300px';
  display: "flex";
  flex-direction: "column";
  align-items: center;
  justify-content: "center";
  border: 2px solid lightgrey;
  border-radius: 12px;
  width: 100%;
}

/* Estilos para el contenedor de la imagen de perfil */
.profile-image-container {
  position: relative;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* Superposición para oscurecer la imagen y mostrar el texto */
.profile-image-container .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Mostrar la superposición al pasar el cursor */
.profile-image-container:hover .hover-overlay {
  opacity: 1;
}

.hover-navbar:hover {
  color: black !important;
  background-color: white;
}

.review {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid black;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}